//@import "~bootstrap/scss/bootstrap";
@import './bootstrap_custom.scss';

html {
  height: 100vh;
  font: menu;
  font-size: 1rem;
}

body {
  height: 100vh;
  margin: 0;
  --cam-gray: #d5e1df;
  --cam-lightgreen: #e3eaa7;
  --cam-green: #b5e7a0;
  --cam-darkgreen: #86af49;
}

.post {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0 1rem;
  margin: 1rem;
}

.no_pad {
  padding: 0;
}

.login {
  padding: 3em 2em;
  text-align: center;
  border: 10px solid var(--cam-gray);
  border-radius: 66px;
  background-color: gray;
  width: 33%;
  margin: auto;
  label {
    color: var(--cam-gray);
  }
  a {
    color: var(--cam-green);
    font-size: 36px;
  }
}

h1 {
  color: var(--cam-darkgreen);
}

h2 {
  color: var(--cam-lightgreen);
}

.field {
  padding: 1em;
}

.container {
  header, footer, .title_bar {
    height: 7vh;
    padding: 0 7px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  footer {
    background-color: gray;
    font-size: 1.5vmin;
  }
  header {
    background-color: var(--cam-green);
    h2 {
      margin: 0;
      color: var(--cam-darkgreen);
    }
  }
  .title_bar {
    background-color: lightgray;
  }
  &.main_page {
    height: 100vh;
  }
}

.main_body {
  height: 79vh;
  overflow-x: hidden;
  overflow-y: auto;
  align-content: baseline;
  margin: 0;
  background-color: lightgray;
}

.alert {
  color: red;
}

.notice {
  color: var(--cam-darkgreen);
}

.field_with_errors {
  display: inline;
}

.errors {
  color: red;
  text-align: left;
}

.cam_button {
  color: grey;
  padding: .375rem .75rem;
  border-radius: .25rem;
  text-decoration: none;
  font-size: 1rem;
  line-height: 1.5;
  cursor: pointer;
}

.new_post {
  border: 1px solid var(--cam-darkgreen);
  color: var(--cam-darkgreen);
  background-color: var(--cam-lightgreen);
  margin-left: 10px;

  &:hover {
    color: var(--cam-lightgreen);
    background-color: darkgray;
  }
}

.logout {
  background-color: darkgray;
  color: var(--cam-lightgreen);
  border: 1px solid var(--cam-lightgreen);

  &:hover {
    color: darkgray;
    background-color: var(--cam-lightgreen);
  }
}

.lightgreen {
  background-color: var(--cam-lightgreen);
}

.green {
  background-color: var(--cam-green);
}

.post_info {
  display: flex;
  justify-content: space-between;
  padding-bottom: .25rem;
  font-size: .85rem;
  opacity: .5;
}

.post_content {
  padding: 1rem;
}

.close {
  cursor: pointer;
}

.modal-title {
  margin: 0;
}