//@import "~bootstrap/scss/bootstrap";
@import './bootstrap_custom.scss';

.tweet {
  border: solid black 1px;
  padding: 1rem;
  margin: 1rem;
}

.no_pad {
  padding: 0;
}

.login {
  padding: 1em;
  text-align: center;
  border: 1px solid black;
}

.field {
  padding: 1em;
}

.container {
  header, footer {
    border: 1px solid black;
    padding: 1em;
    margin: 0 -15px;
    display: flex;
    justify-content: space-between;

    h2 {
      margin: 0;
    }
  }
}

.main_body {
  border: 1px solid black;
  padding: 1em 0;
  max-height: 559px;
  overflow-x: hidden;
  overflow-y: scroll;
  span {
    margin-left: 655px;
  }
}