<div class="row title_bar">
  <!-- Button trigger modal -->
  <button type="button" class="cam_button btn new_post_btn" data-toggle="modal" data-target="#newPostModal">
    New Post
  </button>
  <%= render 'flash' %>
  <span>Posts will be viewable for 90 days before being archived</span>
</div>

<div class="row main_body">
  <%= render "new_post_modal" %>

  <% @posts.each do |post| %>
  <%= react_component('Post', { content: post.content, username: post.username, created_at: post.created_at }, class: 'no_pad col-6') %>
  <% end %>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    let post_content = document.getElementById("post_content");
    let no_content = document.getElementById('no_content');
    let submit = document.getElementById("create_post");

    submit.addEventListener("click", function(e) {
      if (post_content.value.trim().length === 0)
      {
        e.preventDefault();
        no_content.innerHTML = 'You have not entered anything yet!';
        no_content.style.backgroundColor = 'yellow';
        setTimeout(function(){
          no_content.innerHTML = '&nbsp';
          no_content.style.backgroundColor = 'white';
        }, 3000);
      }
    });

    post_content.addEventListener("keydown", function(e) {
     if (post_content.value.length >= 100) {
       e.preventDefault();
     }
   });
  });
</script>

